.button {
  color: red;

  border: 1px solid red;

  background-color: var(--undefined-color);

  width: var(--color-primary);

  /* literal values inside calc() are allowed */
  height: calc(1px);
}
